---
import Links from '../components/Links.astro';
import CenteredLayout from '../layouts/CenteredLayout.astro';
---

<CenteredLayout>
  <header is-="column" gap-="1" space-="px:1">
    <h1 autofocus>404</h1>

    <p>woah there, traveller! i'm not entirely sure what you're looking for here, but it certainly doesn't exist</p>
    <p>maybe these can help you?</p>

    <Links showHome=true />
  </header>
</CenteredLayout>

