---
import CenteredLayout from '../layouts/CenteredLayout.astro';
import Link from '../components/Link.astro';
---

<CenteredLayout>
  <header is-="column" gap-="1" space-="px:1">
    <h1 tabindex="0" autofocus>
      hello!
    </h1>
    <p tabindex="0">
      hey, my name is rad. i'm a software engineer from germany, mainly focusing on minecraft mods and plugins.
      <br />
      i'm also a backend developer and know languages like go, rust, kotlin and java.
      <br />
      i have also been daily-driving arch linux for over five years now!
      <br />
      my favourite programming languages are rust and kotlin.
      <br />
      i'm currently building <Link href="https://beta.potassium.sh">potassium.sh,</Link> an indie development studio, with some of my friends.
      <br />
      i'm also a moderator at
      <Link href="https://mcbrawls.net">mc brawls</Link>
        and contribute to some of our libraries every so often!
      <br />
      <br />
      i'm currently also open for commissions!
      <br />
      <Link href="mailto:rad@potassium.sh">send me an email!</Link>
    </p>
  </header>
</CenteredLayout>
