---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">about me</h1>
    <div class="text-center">
      <div class="flex flex-col text-left justify-left p-10">
        <p class="p-4 text-xl">
            hey, i'm rad - a developer and linux enthusiast from germany!
        </p>
        <p class="p-4">
            i'm also a moderator and occasionally a contributor at <a href="https://mcbrawls.net" class="mb-4 hover:underline text-nvim-blue">mcbrawls</a>.
            my favourite programming languages are rust, kotlin and go :3

            <br />

            i'm a chronic neovim user :3 (i made this page in neovim)

            <br />

            i know a good bit about resource packs :)
        </p>
        <p class="p-4 text-2xl">
            some things i've worked on:
        </p>

        <p class="p-4">
            mcbrawls is a minecraft minigame server with a focus on a competitive edge.

            <br />
            i've mostly worked on <a href="https://github.com/mcbrawls/api" class="mb-4 hover:underline text-nvim-blue">the api</a> and <a href="https://github.com/mcbrawls/inject" class="mb-4 hover:underline text-nvim-blue">inject</a>.

            <br />

            <a href="https://mcbrawls.net" class="mb-4 hover:underline text-nvim-blue">
                homepage
            </a>

            <br />

            <a href="https://github.com/mcbrawls" class="mb-4 hover:underline text-nvim-blue">
                github
            </a>
        </p>

        <p class="p-4">
            packed is a resource pack compiler library for kotlin. it currently supports fonts, pack metadata and item models.

            <br />

            <a href="https://github.com/radstevee/packed" class="mb-4 hover:underline text-nvim-blue">
                github
            </a>

            <br />

            <a href="https://packed.radsteve.net" class="mb-4 hover:underline text-nvim-blue">
                docs
            </a>
        </p>

        <p class="p-4">
            ferrumc is a reimplementation of the minecraft server in rust.

            <br />
            i'm working on the command api.

            <br />

            <a href="https://github.com/ferrumc-rs/ferrumc" class="mb-4 hover:underline text-nvim-blue">
                github
            </a>
        </p>

        <p class="p-4">
            deepfry is a silly little tool for "deepfrying" images and making them look very silly.

            <br />

            <a href="https://github.com/radstevee/deepfry" class="mb-4 hover:underline text-nvim-blue">
                github
            </a>
        </p>

        <p class="p-4">
            some WIP minecraft stuff
        </p>

        <p class="p-4">
            lots and lots of small discord bots. discord.js v11 was the peak of bot development and you cannot convince me otherwise
        </p>
      </div>
    </div>
  </div>
</Layout>
