---
import Layout from '../layouts/Layout.astro';
---

<Layout title="contact">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">wanna say hi?</h1>
    <div class="text-center">
      <p class="mb-2">discord: @radstevee (friend requests off)</p>
      <p class="mb-2">email: hello (at) radsteve (dot) net</p>
      <p class="mb-2">twitter: @radstevee_</p>
      <p class="mb-2">bluesky: @radsteve.net</p>
    </div>
  </div>
</Layout>
