---
import Layout from '../layouts/Layout.astro';
---

<Layout title="baii">
  <div class="h-screen grid grid-cols-3">
    <div class="col-start-2 flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-3xl font-bold mb-4 text-nvim-blue">bye</h1>
        <p class="text-lg mb-2">not sure why you'd do this but bye!!</p>
      </div>
    </div>
  </div>
</Layout>
