---
import CenteredLayout from '../layouts/CenteredLayout.astro';
import Links from '../components/Links.astro';
---

<CenteredLayout>
  <header is-="column" gap-="1" space-="px:1">
    <h1 autofocus>welcome!</h1>

    <p>welcome to my site! i don't have too much to say here, so have some links</p>

    <p>want to commission me? you can do so on ko-fi!</p>

    <Links />
  </header>
</CenteredLayout>

