---
import Layout from '../layouts/Layout.astro';
---

<Layout title="rad's page">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">rad's page</h1>
    <div class="text-center">
      <p class="mb-2">hi, i'm rad, a linux enthusiast and developer from germany</p>
      <a href="https://github.com/radstevee" class="mb-4 hover:underline text-nvim-blue">github.com/radstevee</a>
      <div class="p-8 text-nvim-green text-left">
        <p>type  :about<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view a little about me</p>
        <p>type  :blog<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view blog posts</p>
        <p>type  :contact<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view contact details</p>
        <br />
        <p>type  /<span class="text-nvim-blue">&lt;Search term&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to search posts</p>
        <br />
        if you are typing and it isn't showing up ignore it (works in dev)
      </div>
    </div>
  </div>
</Layout>
