---
import CenteredLayout from '../layouts/CenteredLayout.astro';
import Links from '../components/Links.astro';
---

<CenteredLayout>
  <header is-="column" gap-="1" space-="px:1">
    <h1 autofocus>welcome!</h1>

    <p>hey! i'm rad and welcome to my little page.</p>

    <p>i'm a software engineer, focusing on <strong>minecraft mods and plugins</strong> as well as <strong>backend development</strong>!</p>

    <p>want to commission me? shoot me an email at rad [at] potassium [dot] sh or on discord!</p>

    <Links />
  </header>
</CenteredLayout>

